<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.venus.fapbpm.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.venus.fapbpm.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <resultMap id="UserRoles" type="com.venus.fapbpm.dto.UserRole">
    <id column="role_id" jdbcType="INTEGER" property="id" />
      <result column="role_name" jdbcType="VARCHAR" property="roleName" />
      <result column="user_role_id" jdbcType="INTEGER" property="userRoleId" />
  </resultMap>
  <select id="getUserRoles" parameterType="java.lang.String" resultMap="UserRoles">
   SELECT  `user`.id AS userId,`user`.username AS username,role.id AS role_id,role.role_name AS role_name,user_role.id AS user_role_id
    FROM `user`
    LEFT JOIN user_role
    ON `user`.id = user_role.user_id
    LEFT JOIN role
    ON user_role.role_id = role.id
    WHERE `user`.username = #{username}

  </select>
</mapper>